@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10 10;
  --background-start-rgb: 203, 213, 225;
  --background-end-rgb: 203, 213, 225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 65, 85;
    --background-end-rgb: 51, 65, 85;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.title-shadow {
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px,
    rgba(255, 255, 255, 0.5) 5px 5px 70px
}